* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo';
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1024px;
}



